 In the following project, i am going to scrape data from the Pararius website for apartments in the Netherlands.

In [1]:
import requests
import csv
from bs4 import BeautifulSoup

In [2]:
url = "https://www.pararius.com/apartments/amsterdam"
page = requests.get(url)

In [3]:
print(page)

<Response [200]>

In [29]:
data = soup.find_all('section', class_="listing-search-item")

In [4]:
soup = BeautifulSoup(page.content,'html.parser')

In [30]:
with open('Housing_data.csv','w',encoding = 'UTF8',newline = '') as f:
    writer = csv.writer(f)
    header = ['Title','Price','Size','Number_of_rooms']
    writer.writerow(header)
    for i in data:
        title = i.find('a',class_="listing-search-item__link--title").text.replace('\n','')
        price = i.find('div',class_="listing-search-item__price").text.replace('\n','')
        size = i.find('li',class_="illustrated-features__item--surface-area").text.replace('\n','')
        rooms = i.find('li',class_="illustrated-features__item--number-of-rooms").text.replace('\n','')
        info = [title,price,size,rooms]
        writer.writerow(info)

In [31]:
import pandas as pd

In [32]:
df = pd.read_csv(r"C:\Users\PC ZED\Desktop\Working_Files\Housing_data.csv")

In [33]:
df

,Title,Price,Size,Number_of_rooms
0,Apartment Reguliersgra...,"€5,500 per month",141 m²,4 rooms
1,Apartment Keizersgrach...,"€6,000 per month",270 m²,4 rooms
2,Apartment Baetostraat ...,"€1,750 per month",60 m²,3 rooms
3,Apartment Keizersgrach...,"€3,200 per month",108 m²,4 rooms
4,Apartment De Lairesses...,"€1,925 per month",70 m²,2 rooms
5,Apartment Maria Austri...,"€1,950 per month",39 m²,1 room
6,Apartment Van Tuyll va...,"€3,375 per month",115 m²,5 rooms
7,House Emmy Andriessest...,"€2,795 per month",150 m²,4 rooms
8,Apartment Holendrechts...,"€1,800 per month",65 m²,3 rooms
9,Apartment Tweede Ooste...,"€1,195 per month",35 m²,1 room
10,Apartment Ruys de Beer...,"€1,350 per month",75 m²,3 rooms
11,Apartment Frieslandstr...,"€1,850 per month",75 m²,3 rooms
12,Apartment Weesperzijde...,"€3,000 per month",130 m²,4 rooms
13,Apartment Binnenkant ...,"€2,150 per month",64 m²,2 rooms
14,Apartment Prinsengrach...,"€1,850 per month",48 m²,2 rooms
15,Apartment Lauriergrach...,"€2,400 per month",83 m²,3 rooms
16,Apartment Eerste Boerh...,"€2,100 per month",85 m²,3 rooms
17,Apartment Shackletonst...,"€2,000 per month",65 m²,3 rooms
18,Apartment Shackletonst...,"€1,750 per month",50 m²,3 rooms
19,Apartment Admiraal De ...,"€1,950 per month",65 m²,3 rooms
20,Apartment Admiraal De ...,"€2,150 per month",75 m²,3 rooms
21,Apartment Prinseneilan...,"€2,500 per month",69 m²,3 rooms
22,Apartment Graaf Floris...,"€3,250 per month",105 m²,3 rooms
23,Apartment Linnaeushof ...,"€2,350 per month",109 m²,5 rooms
24,Apartment Westermarkt ...,"€1,900 per month",62 m²,2 rooms
25,Apartment Nieuwmarkt ...,"€1,850 per month",50 m²,2 rooms
26,Apartment Reigersbos ...,"€2,400 per month",95 m²,4 rooms
27,Apartment Rustenburger...,"€2,500 per month",110 m²,3 rooms
28,Apartment Krom Boomssl...,"€2,150 per month",88 m²,3 rooms
29,Apartment Lucellestraa...,"€1,700 per month",56 m²,3 rooms
30,Apartment Ben van Meer...,"€2,200 per month",86 m²,1 room
31,Apartment Adelaarsweg ...,"€2,250 per month",90 m²,4 rooms